
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Dashboard/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Dashboard/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->


        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h2 class="text-primary"><i class="fa fa-running me-2"></i>Gym</h2>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/Dashboard/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@Context.Session.GetString("UserName")</h6>
                        <span>@Context.Session.GetString("RoleName")</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                 
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="List" asp-controller="Member" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Member</a>
                        <a asp-action="List" asp-controller="Trainer" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Trainer</a>
                        <a asp-action="ManageSubscriptions" asp-controller="Admin" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Subscriptions</a>
                        <a asp-action="ApproveTestimonials" asp-controller="Admin" class="nav-link dropdown-toggle"><i class="fa fa-laptop me-2"></i>Testimonials</a>
                    }
                    else
                    {
                        <a asp-action="ListOfMember" asp-controller="Trainer" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Member</a>
                        <a asp-action="List" asp-controller="WorkoutPlans" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Plan</a>
                    }

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="~/Dashboard/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">@Context.Session.GetString("UserName")</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a asp-action="Profile" asp-controller="Admin" class="dropdown-item">My Profile</a>
                            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Log Out</a>
                        </div>
                    </div>

                </div>

            </nav>

            <!-- Navbar End -->
            <!-- Sale & Revenue Start -->
         
            <!-- Sale & Revenue End -->
            <!-- Sales Chart Start -->
        
            <!-- Sales Chart End -->
            <!-- Recent Sales Start -->
          
            <!-- Recent Sales End -->
          
            <main class="content-container">
                @RenderBody()
            </main>
        </div>

        <!-- Content End -->
        <!-- Back to Top -->
      @*   <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> *@

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Dashboard/lib/chart/chart.min.js"></script>
    <script src="~/Dashboard/lib/easing/easing.min.js"></script>
    <script src="~/Dashboard/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Dashboard/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Dashboard/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Dashboard/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Dashboard/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Dashboard/js/main.js"></script>
</body>

</html>